<list>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
  <div class="card">
    <card></card>
  </div>
</list>
